@using WestWindSystem.BLL
@using WestWindSystem.Models
@*
	Multiple urls supported
	/products/{CategoryId} - supports direct lookup of category products
	/products - supports default lookup of category products
*@

@*
	Constrain the type for CategoryId (default is string)
	Add '?' to allow for null category id, effectively supporting /category-products URL
*@
@page "/products/{CategoryId:int?}"

<h3>Products</h3>

@* Display the available categories *@
<fieldset class="mb-3">
	<legend>List by Category</legend>
	@if (Categories == null)
	{
		<p>Loading Categories ...</p>
	}
	else
	{
		<div class="row row-cols-lg-auto g-3 align-items-center">
			<div class="col-12">
				<label class="visually-hidden" for="category">Category:</label>
				<select class="form-select" id="category" @bind="CategoryId">
					<option disabled selected value="0">Select a category</option>
					@if (Categories != null)
					{
						foreach (var cat in Categories)
						{
							<option value="@cat.CategoryId">@cat.CategoryName</option>
						}
					}
				</select>
			</div>
			<div class="col-12">
				<button class="btn btn-primary" @onclick="HandleCategorySelected">List Products</button>
			</div>
		</div>
	}
</fieldset>

@if (Products != null && Products.Count > 0)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Discontinued</th>
				<th>Supplier</th>
				<th>Unit Price</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Products)
			{
				<tr>
					<td>@p.ProductId</td>
					<td>@p.ProductName</td>
					<td>@p.Discontinued</td>

					<td>@p.Supplier.CompanyName</td>
					<td class="text-end">@($"{p.UnitPrice:C}")</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-info">Sorry, there were no products found to match your search</div>
}