@page "/samples/hockey-roster"
@using Hockey.Data

<h3>Edmonton Oilers Roster</h3>

<p>
    This Blazor Component displays a list of players on the Edmonton Oilers team for the 2023-24 season
    using data from a CSV file.
</p>

@if (FeedbackMessage != null)
{
    <div class="alert alert-danger">
        @FeedbackMessage
    </div>
}

@if (Players.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Jersey</th>
                <th>Position</th>
                <th>Shot</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Birth Place</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currentPlayer in Players)
            {
                <tr>
                    <td>@currentPlayer.FirstName @currentPlayer.LastName</td>
                    <td>@currentPlayer.JerseyNumber</td>
                    <td>@currentPlayer.Position</td>
                    <td>@currentPlayer.Shot</td>
                    <td>@currentPlayer.HeightInInches</td>
                    <td>@currentPlayer.WeightInPounds</td>
                    <td>@currentPlayer.BirthPlace</td>
                    <td>@currentPlayer.DateOfBirth.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>
}